body{
  background:url(../img/fondo.jpg) left top repeat;
}

.button_login{
  background:#424242;
  border-radius: 10px;
  margin-left: 3em;
}
header{
  background:url(../img/fondo.jpg) left top repeat;
  padding: 1px;
  color: white;
}

.color_1{
  background: #fb8c00;
}

.recuadro{
  background:#fffde7;
  margin: 15px;
  padding: 10px;
}

.btn_information{
  background:#212121 ;
  color: white;
  border: 0.1rem solid #fffde7;
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  margin:10px;
}

.btn_information:hover{
background: #424242;
}


