body{
    margin: 0;
    font-family: sans-serif;
    background:url(../img/fondo.jpg) left top repeat;
}

header{
    width: 100%;
    background: #f57c00;

}

#btn_menu1{
    display: none;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: solid 1px #fff;

}

header label:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

/*menu de navegacion*/

.menu1 ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    /*justify-content: flex-end;*/
}

.menu1 li{
    border-right: 1px solid #fff;
}

.menu1 li:hover{
    background: rgba(0, 0, 0, 0.3);
}

.menu1 li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;

}
/*----------------------------------------*/

@media(max-width:770px){
 
    header label{
        display: block;
    }
    .menu1{
        position: absolute;
        background: #f57c00 ;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .menu1 ul{
        flex-direction: column;
    }
    .menu1 li{
        border-top: 1px solid #fff;
    }

    #btn_menu1:checked ~ .menu1 {
        margin: 0;
    }

}